
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
}
div {
    flex-direction: column;
    text-align: center;
}
.tabuadaa {
    padding: 8px;
}
.divtriangulo {
    padding: 8px;
}
.dividade {
    padding: 8px;
}
.divcomparacao {
    padding: 8px;
}